@import '../../styles/base';

.AppNavBar {
  position: relative;
  width: 100%;
  height: $AppNavBarHeight;
}
.AppNavBarInner {
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  background-color: color('dark');
  color: color('white');
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2em);
  box-shadow: 0 1em 3em rgb(0 0 0 / 6%);
}
.AppNavBarLogoLink {
  display: block;
  color: inherit;
  padding: 1em;
  align-self: center;
  text-decoration: none;

  h1 {
    font-weight: lighter;
  }
}