@import '../../styles/base';

.DataTable {
  flex: 1.5;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(99, 118, 129, 0.3);
  transition: box-shadow 0.25s cubic-bezier(0.32, 0.01, 0, 1);
  box-sizing: border-box;
  flex-direction: column;
  // margin-left: auto;
  // margin-right: auto;
  height: 40em;
  overflow: scroll;

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;

    td,
    th {
      border-collapse: collapse;
      padding: 8px;
    }

    tr {
      transition: all 0.3s ease;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    thead tr th {
      font-size: 1.2rem;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      height: 48px;
      padding: 0 .6em;
      vertical-align: middle;
      font-weight: 600;
    }


    tbody tr td {
      font-size: 0.8em;
      border-right: thin solid rgba(0, 0, 0, 0.12);
      height: 3.6em;
      padding: 0 16px;
    }

    tbody tr td:first-child {
      // padding-left: 2em;
      // padding-right: 6em;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .Filter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .SortValue {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-left: 0.5em;
    }

    .IconDown {
      transform: rotate(180deg);
    }
  }
  button {
    appearance: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: color('white');
    padding: 0;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    display: inline-flex;
    svg {
      color: color('white');
      margin-left: .5em;
    }
  }

  th {
    text-align: center;
    background-color: color('teal');
    text-transform: uppercase;
    color: white;
  }

  .MetricColumn {
    text-align: start;
  }

  .IconRefresh {
    height: 2rem;
  }
}

input[type="checkbox"] {
  appearance: none;
  /* For iOS < 15 */
  background-color: color('white');
  /* Not removed via appearance */
  margin: 0;
  color: currentColor;
  width: 1.6em;
  height: 1.6em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: '✓';
  width: .76em;
  height: .76em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(99, 118, 129, 0.3);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}